@use '@angular/material' as mat;
@use 'theme-helper' as helper;

@include mat.core();

$dark-contrast-dark-text: rgba(black, 0.87);

$dark-contrast-light-text: white;

$mat-primary-dark: (
  50: #e5ecee,
  100: #e5ecee,
  200: #ccdade,
  300: #b2c7cd,
  400: #99b5bd,
  500: #7fa2ac,
  600: #66909b,
  700: #4c7d8a,
  800: #336b7a,
  900: #004659,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-contrast-dark-text,
    100: $dark-contrast-dark-text,
    200: $dark-contrast-dark-text,
    300: $dark-contrast-light-text,
    400: $dark-contrast-light-text,
    500: $dark-contrast-light-text,
    600: $dark-contrast-light-text,
    700: $dark-contrast-light-text,
    800: $dark-contrast-light-text,
    900: $dark-contrast-light-text,
    A100: $dark-contrast-dark-text,
    A200: $dark-contrast-light-text,
    A400: $dark-contrast-light-text,
    A700: $dark-contrast-light-text,
  ),
);
$mat-accent-dark: mat.define-palette(mat.$blue-grey-palette, 500);

$dark-background: #004659;
$dark-background-alt: darken($dark-background, 3%);

$dark-foreground: #cccccc;

$dark-background-palette: (
  status-bar: darken($dark-background, 20%),
  app-bar: $dark-background,
  background: $dark-background,
  hover: lighten($dark-background, 4%),
  card: darken($dark-background, 3%),
  dialog: darken($dark-background, 5%),
  raised-button: darken($dark-background, 5%),
  focused-button: darken($dark-background, 12%),
  selected-button: lighten($dark-background, 15%),
  selected-disabled-button: lighten($dark-background, 10%),
  disabled-button: lighten($dark-background, 10%),
  unselected-chip: lighten($dark-background, 15%),
  disabled-list-option: lighten($dark-background, 10%),
);

$dark-foreground-palette: (
  base: $dark-foreground,
  divider: rgba($dark-foreground, 0.12),
  dividers: rgba($dark-foreground, 0.12),
  disabled: rgba($dark-foreground, 0.38),
  disabled-button: rgba($dark-foreground, 0.38),
  disabled-text: rgba($dark-foreground, 0.38),
  hint-text: rgba($dark-foreground, 0.38),
  secondary-text: rgba($dark-foreground, 0.54),
  icon: rgba($dark-foreground, 0.54),
  icons: rgba($dark-foreground, 0.54),
  text: rgba($dark-foreground, 0.87),
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($mat-primary-dark, 700),
      accent: $mat-accent-dark,
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Source Sans 3 Variable", sans-serif',
      ),
    density: 0,
  )
);

$dark-theme: helper.modify-background($dark-theme, $dark-background-palette);
$dark-theme: helper.modify-foreground($dark-theme, $dark-foreground-palette);
