@use '@angular/material' as mat;
@use 'theme-helper' as helper;
@use 'sass:map';

@include mat.core();

$light-contrast-dark-text: rgba(black, 0.87);

$light-contrast-light-text: white;

$mat-primary-light: (
  50: #e5ecee,
  100: #e5ecee,
  200: #ccdade,
  300: #b2c7cd,
  400: #99b5bd,
  500: #7fa2ac,
  600: #66909b,
  700: #4c7d8a,
  800: #336b7a,
  900: #004659,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $light-contrast-dark-text,
    100: $light-contrast-dark-text,
    200: $light-contrast-dark-text,
    300: $light-contrast-light-text,
    400: $light-contrast-light-text,
    500: $light-contrast-light-text,
    600: $light-contrast-light-text,
    700: $light-contrast-light-text,
    800: $light-contrast-light-text,
    900: $light-contrast-light-text,
    A100: $light-contrast-dark-text,
    A200: $light-contrast-light-text,
    A400: $light-contrast-light-text,
    A700: $light-contrast-light-text,
  ),
);

$mat-accent-light: (
  50: #e5ecee,
  100: #e5ecee,
  200: #ccdade,
  300: #b2c7cd,
  400: #99b5bd,
  500: #7fa2ac,
  600: #66909b,
  700: #4c7d8a,
  800: #336b7a,
  900: #004659,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $light-contrast-dark-text,
    100: $light-contrast-dark-text,
    200: $light-contrast-dark-text,
    300: $light-contrast-light-text,
    400: $light-contrast-light-text,
    500: $light-contrast-light-text,
    600: $light-contrast-light-text,
    700: $light-contrast-light-text,
    800: $light-contrast-light-text,
    900: $light-contrast-light-text,
    A100: $light-contrast-dark-text,
    A200: $light-contrast-light-text,
    A400: $light-contrast-light-text,
    A700: $light-contrast-light-text,
  ),
);

$light-background: white;
$light-background-alt: #edece8;
$light-third-background: #d0cbc2;

$light-foreground: black;

$light-background-palette: (
  status-bar: mat.get-color-from-palette(mat.$grey-palette, 600),
  app-bar: $light-background,
  background: $light-background,
  hover: darken($light-background, 4%),
  card: $light-third-background,
  dialog: $light-background,
  raised-button: $light-background,
  focused-button: darken($light-background, 12%),
  selected-button: mat.get-color-from-palette(mat.$grey-palette, 300),
  selected-disabled-button: mat.get-color-from-palette(mat.$grey-palette, 400),
  disabled-button: mat.get-color-from-palette(mat.$grey-palette, 400),
  unselected-chip: mat.get-color-from-palette(mat.$grey-palette, 400),
  disabled-list-option: mat.get-color-from-palette(mat.$grey-palette, 400),
);

$light-foreground-palette: (
  base: $light-foreground,
  divider: rgba($light-foreground, 0.12),
  dividers: rgba($light-foreground, 0.12),
  disabled: rgba($light-foreground, 0.38),
  disabled-button: rgba($light-foreground, 0.38),
  disabled-text: rgba($light-foreground, 0.38),
  hint-text: rgba($light-foreground, 0.38),
  secondary-text: rgba($light-foreground, 0.54),
  icon: rgba($light-foreground, 0.54),
  icons: rgba($light-foreground, 0.54),
  text: rgba($light-foreground, 0.87),
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($mat-primary-light, 700),
      accent: mat.define-palette($mat-accent-light, 500),
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Source Sans 3 Variable", sans-serif',
      ),
    density: 0,
  )
);

$light-theme: helper.modify-background($light-theme, $light-background-palette);
$light-theme: helper.modify-foreground($light-theme, $light-foreground-palette);
