@mixin icon-button-sizes($outerSize, $innerSize) {
  width: $outerSize !important;
  height: $outerSize !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role='img'] {
    width: $innerSize;
    height: $innerSize;
    font-size: $innerSize;

    svg {
      width: $innerSize;
      height: $innerSize;
    }
  }

  .mat-mdc-button-touch-target {
    width: $outerSize !important;
    height: $outerSize !important;
  }
}
